#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

label {
	color:#ac1482;
	margin-bottom:0.5vh;
	margin-top:1vh;
}

h5 {
	font-size: large;
	font-weight: bold;
	_display:inline;
	margin-bottom:1vh 0vw;
}

#titrePage {
	font-size:x-large;
	_padding:1vh 1vw;
}

#required {
	color:red;
}

.formInfos {
	display: flex;
	justify-content: center;
	box-shadow: 1px 1px 5px rgb(126, 126, 126);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin:2vh 0;
}

.formInfos #leftPanel, #rightPanel, #rightPanelbis  {
	display: flex;
	flex-direction: column;
	padding: 2vw;
	flex-grow:1;
	margin:2vw;
}

#rightPanelbis {
	align-items:center;
}

#leftPanel div, #rightPanel div, #rightPanelbis div{
	display: flex;
	flex-direction: column;
	align-items:center;
}

#divButton {
	margin-top:2vh;
}

#rightPanelbis #bouton {
	align-self: flex-end;
	position: absolute;
	bottom:1vw;
}

.cb{
	margin : 1vh;
}