#main {
	display:flex;
	flex-direction:column;
	align-items:stretch;
	justify-content:center;
	text-align:center;
	background-color:hotpink;
}

#centerPanel {
	display:flex;
	flex-grow:1;
	background-color:orange;
	align-items:stretch;
}

#leftPanel form, #rightPanel form {
	display:flex;
	flex-direction:column;
	background-color:teal;
	padding:1vw;
	_align-items:space-between;
	height:70vh;
	justify-content:space-between;
}

#leftPanel div {
	display:flex;
	align-items:stretch;
	justify-content:space-around;
}