#main {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	text-align: center;
}

#titrePage {
	font-size:x-large;
	_padding:1vh 1vw;
}

label, h5 {
	color:#ac1482;
}

h5 {
	font-size: large;
	font-weight: bold;
	_display:inline;
	margin-bottom:0.2vh;
}

.formInfos {
	display: flex;
	justify-content: center;
	box-shadow: 1px 1px 5px rgb(126, 126, 126);
    background-color: rgba(255, 255, 255, 0.8);
    padding:1vh 1vw;
}

.formInfos #leftPanel, #rightPanel {
	display: flex;
	flex-grow:1;
	flex-direction: column;
	_background-color: orange;
	_padding: 2vw;
	flex-grow: 1;
	_margin: 2vh 2vw;
	_align-items: space-between;
}

#leftPanel div, #rightPanel div {
	display: flex;
	flex-direction: column;
	align-items:center;
}

#rightPanel {
	_background-color: teal;
	position :relative;
}

#labelEmergency{
	font-size: large;
	font-weight: bold;
	margin-bottom: 0.3vh;
}

#rightPanel #bouton {
	align-self: flex-end;
	position: absolute;
	bottom: 1vw;
}

#required {
	color:red;
}

input {
	height: 40px;
	padding: 0 10px;
	border: 2px solid blue;
	border-radius: 5px;
}

.streetResults, .cityResults {
	box-shadow: 0px 0px 5px 0px rgba(0, 26, 255, 0.3);
	background-color: white;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	z-index: 10;
	top: 40px;
}

.streetResults div, .cityResults div {
	padding: 10px;
}

.streetResults div:hover, .cityResults div:hover {
	background-color: blue;
	color: white;
	cursor: pointer;
}

#wrapperStreet {
	position: relative;
}

#wrapperCity {
	position: relative;
}

body .ui-button {
    text-align: center;
    color: white;
    border: none;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color:#1482ac;
    box-shadow: 1px 1px 5px rgb(126, 126, 126);
}

body .ui-button:hover {
	text-decoration: none;
    color: white;
    background-color: #ac1482;
    font-weight: 500;
    letter-spacing: 2px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}
